---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'
import type { Concert, Program, Artist } from '../api/concerts.json'
import { Icon } from 'astro-icon'

export async function getStaticPaths() {
  const data = await fetch('http://127.0.0.1:3000/api/concerts.json').then((response) => response.json())

  return data.map((post: Concert) => {
    return {
      params: { post: post.title.replaceAll(' ', '-').toLowerCase() },
      props: { post },
    }
  })
}

interface Props {
  post: Concert
}

const { post } = Astro.props
---

<DefaultLayout title={post.title} description={post.body} url={post.title}>
  <div class="container">
    <div class="mt-12">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="Home" />
        <BreadcrumbsItem href="/events" label="Events" />
        <BreadcrumbsItem currentPage={true} label={post.title} />
      </Breadcrumbs>
    </div>
  </div>
  <div class="container flex flex-row">
    <div>
      <section class="mt-12">
        <div>
          <h1>{post.title}</h1>
          <p class="mt-6">{post.location}</p>
          <p>
            {
              (({ dayName, month, dayNumber, year, time }) => `${dayName}, ${month} ${dayNumber}, ${year} - ${time}`)(
                post.concertDate
              )
            }
          </p>
        </div>
      </section>
      <section>
        <div>
          <a
            class="button has-icon color-secondary w-fit"
            href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=LGYJBWLM3XKUA"
            target="_blank"
          >
            <Icon name="ic:baseline-favorite-border" />
            Donate
          </a>
          <p class="text-base">{post.body}</p>
        </div>
      </section>
    </div>
    <div class="mt-12">
      <img src={post.img.url} alt={post.img.alt} />
    </div>
  </div>
  <div class="container mb-6">
    <h4>Program</h4>
    {
      post.program.map((programSection: Program) => (
        <>
          <p class="font-semibold">{programSection.composer}</p>
          <div>
            {programSection.pieces.map((piece: string) => (
              <p>{piece}</p>
            ))}
          </div>
        </>
      ))
    }
  </div>
  <div class="container mb-12">
    <h4>Featured Artists</h4>
    <div class="flex flex-row">
      {
        post.artists.map((artist) => (
          <div>
            <div>
              <img src={artist.img?.url} alt={artist.img?.alt} />
            </div>
            <div>
              <p>
                {artist.name}
                <i>{artist.instrument}</i>
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
